@charset "UTF-8";
:root{
  // color
  --nv-color-default:#676666;
  --nv-color-primary:#4587FF;
  --nv-color-primary-light-3:#15284d;
  --nv-color-primary-light-5:#224380;
  --nv-color-primary-light-7:#305EB3;
  --nv-color-primary-light-9:#3E79E6;
  --nv-color-success: #1AFF66;
  --nv-color-success-light-3:#084D1F;
  --nv-color-success-light-5:#0D8033;
  --nv-color-success-light-7:#12B347;
  --nv-color-success-light-9:#17E65C;
  --nv-color-warning: #FFBE4D;
  --nv-color-warning-light-3:#4D3917;
  --nv-color-warning-light-5:#805F26;
  --nv-color-warning-light-7:#B38536;
  --nv-color-warning-light-9:#E6AB45;
  --nv-color-danger: #FF4046;
  --nv-color-danger-light-3:#4D1315;
  --nv-color-danger-light-5:#802023;
  --nv-color-danger-light-7:#B32D31;
  --nv-color-danger-light-9:#E6393F;
  --nv-color-info: #808080;
  --nv-color-info-light-3:#262626;
  --nv-color-info-light-5:#404040;
  --nv-color-info-light-7:#595959;
  --nv-color-info-light-9:#737373;

  // padding
  --nv-padding-default: 8px 16px;
  --nv-padding-large: 12px 24px;
  --nv-padding-small: 6px 12px;
  --nv-padding-mini: 4px 8px;

  // border
  --nv-border-radius-base: 4px;
  --nv-border-radius-small: 2px;
  --nv-border-radius-round: 20px;

  // font
  --nv-font-size-default: 14px;
  --nv-font-size-title: 18px;
  --nv-font-weight-default: normal;
  --nv-font-weight-title: bolder;
}